<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.chapter.ChapterMapper">

    <resultMap id="chapterCatalogDTO" type="com.book.novel.module.chapter.dto.ChapterCatalogDTO"/>

    <sql id="all">
        ch.id,
        ch.novel_id,
        ch.content,
        ch.status,
        ch.title,
        ch.update_time,
        ch.chapter_number
    </sql>

    <sql id="catalogDTOAll">
        ch.id,
        ch.title,
        ch.update_time,
        ch.chapter_number
    </sql>

    <insert id="saveChapter">
        insert into
        chapter(novel_id,content,title,chapter_number)
        values(#{novelId}, #{content}, #{title}, #{chapterNumber})
    </insert>

    <delete id="deleteChapterByNovelId">
        delete from
        chapter ch
        where
        ch.novel_id=#{novelId}
    </delete>

    <select id="getChapterCountByNovelId" resultType="java.lang.Integer">
        select
        count(ch.id)
        from
        chapter ch
        where
        ch.novel_id=#{novelId}
        and ch.status &lt; 2
    </select>

    <select id="getChapterNumByNovelId" resultType="java.lang.Integer">
        select
        max(ch.chapter_number)
        from
        chapter ch
        where
        ch.novel_id=#{novelId}
    </select>

    <select id="listChapterByNovelId" resultMap="chapterCatalogDTO">
        select
        <include refid="catalogDTOAll"></include>
        from
        chapter ch
        where
        ch.novel_id=#{novelId}
        and ch.status &lt; 2
        order by ch.chapter_number asc
        limit #{start}, #{pageSize}
    </select>


</mapper>