<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.comment.CommentMapper">
    <resultMap id="commentDetailDTO" type="com.book.novel.module.comment.dto.CommentDetailDTO">
        <result property="username" column="username"></result>
        <result property="headImg" column="head_img_url"></result>
        <result property="userId" column="user_id"></result>
    </resultMap>
    <resultMap id="commentUserIdDTO" type="com.book.novel.module.comment.dto.CommentUserIdDTO">
        <result property="userId" column="user_id"></result>
    </resultMap>

    <select id="listCommentByNovelIdOrderByUp" resultMap="commentDetailDTO">
        select
        u.username,u.head_img_url,c.*
        from
        comment c
        left join
        user u on u.id = c.user_id
        where
        c.status = 1 and c.novel_id = #{novelId}
        order by c.up desc
        limit #{start},#{pageSize}
    </select>
    <select id="listCommentByUserIdOrderByUp" resultMap="commentUserIdDTO">
        select
        u.username,c.*
        from
        comment c
        left join
        user u on u.id = c.user_id
        where
        c.status = 1 and c.user_id = #{userId}
        order by c.up desc
        limit #{start},#{pageSize}
    </select>

    <select id="listCommentByParentIdOrderByUp" resultMap="commentDetailDTO">
        select
        u.username,c.*
        from
        comment c
        left join
        user u on u.id = c.user_id
        where
        c.status = 1 and c.parent_id = #{parent_id}
        order by c.up desc
        limit #{start},#{pageSize}
    </select>

</mapper>