<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.comment.CommentMapper">


    <select id="getCountByNovelId" resultType="java.lang.Integer">
        select
        count(c.id)
        from
        comment c
        where
        c.novel_id = #{novelId}
    </select>

    <select id="getCountByUserId" resultType="java.lang.Integer">
        select count(1) from comment c where c.user_id = #{userId}
    </select>

    <update id="updateStatusById">
        update comment set status = #{status} where id = #{id}
    </update>

    <update id="updateUpById">
        update comment set up = up + 1 where id = #{id}
    </update>

    <insert id="insert">
        INSERT INTO comment (content,create_time,user_id,novel_id) VALUES(#{content},now(),#{userId},#{novelId})
    </insert>
</mapper>