<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.book.BookMapper">

    <resultMap id="BookDTO" type="com.book.novel.module.book.dto.BookDTO"></resultMap>

    <sql id="bookDTO_all" >
        gb.id,
        ca.category_name category,
        gb.title,
        gb.author,
        gb.cover,
        gb.pic,
        sl.username seller,
        gb.tag,
        gb.up,
        gb.down,
        round(gb.rating/rating_count) rating,
        gb.favorites,
        gb.create_time,
        gb.hits_day,
        gb.hits_week,
        gb.hits_month,
        gb.stock
    </sql>

    <sql id="union_gb_ca_sl">
        g_book gb
        left join category ca on gb.category_id=ca.id
        left join user sl on gb.seller = sl.id
    </sql>

    <select id="listBookByPage" resultMap="BookDTO">
        select
        <include refid="bookDTO_all"></include>
        from
        <include refid="union_gb_ca_sl"></include>
        where gb.status&lt;2
        order by gb.create_time desc
        limit #{pageBO.start},#{pageBO.pageSize}
    </select>

    <select id="listBookByKey" resultMap="BookDTO">
        select
        <include refid="bookDTO_all"></include>
        from
        <include refid="union_gb_ca_sl"></include>
        where gb.status&lt;2
        and (gb.title like #{key} or gb.author like #{key})
        order by gb.create_time desc
        limit #{pageBO.start}, #{pageBO.pageSize}
    </select>

    <select id="getBookById" resultMap="BookDTO">
        select
        <include refid="bookDTO_all"></include>
        from
        <include refid="union_gb_ca_sl"></include>
        where gb.id=#{bookId}
    </select>

    <select id="getGBookCount" resultType="java.lang.Integer">
        select
        count(gb.id)
        from
        g_book gb
        where
        <if test="key!=null">
            gb.title like #{key}
            or gb.author like #{key}
        </if>
        gb.status&lt;2
    </select>

</mapper>