<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.novel.NovelMapper">

    <sql id="all">
        n.id,
        n.category_id,
        n.title,
        n.author_id,
        n.pic,
        n.introduce,
        n.tag,
        n.up,
        n.down,
        n.hits,
        n.rating,
        n.rating_count,
        n.serialize,
        n.favorites,
        n.create_time,
        n.update_time,
        n.status,
        n.hits_day,
        n.hits_week,
        n.hits_month,
        n.word,
        n.recommend
    </sql>

    <insert id="saveNovel">
        insert into
        novel(
        title,
        author_id,
        <if test="pic!=null">
            pic,
        </if>
        <if test="introduce!=null">
            introduce,
        </if>
        category_id
        )
        values(
        #{title},
        #{authorId},
        <if test="pic!=null">
            #{pic},
        </if>
        <if test="introduce!=null">
            #{introduce},
        </if>
        #{categoryId}
        )
    </insert>

    <delete id="deleteNovelByNovelId">
        delete from
        novel n
        where
        n.id=#{novelId}
    </delete>

    <update id="updateHits">
        update
        novel n
        set
        n.hits=n.hits+1,
        n.hits_day=n.hits_day+1,
        n.hits_week=n.hits_week+1,
        n.hits_month=n.hits_month+1
        where
        n.id=#{novelId}
    </update>

    <update id="updateFavorites">
        update
        novel n
        set
        n.favorites=#{favorites}
        where
        n.id=#{novelId}
    </update>

    <update id="updateNovelHitsTo0">
        update
        novel n
        set
        <choose>
            <when test="column=='hits_day'">
                n.hits_day=0
            </when>
            <when test="column=='hits_week'">
                n.hits_week=0
            </when>
            <when test="column=='hits_month'">
                n.hits_month=0
            </when>
        </choose>
    </update>

    <update id="updateAddRecommend">
        update
        novel n
        set
        n.recommend=n.recommend+1
        where
        n.id=#{novelId}
    </update>

    <update id="updateNovelById">
        update
        novel n
        set
        <if test="categoryId!=null">
            n.category_id=#{categoryId},
        </if>
        <if test="introduce!=null">
            n.introduce=#{introduce},
        </if>
        <if test="title!=null">
            n.title=#{title},
        </if>
        n.pic=#{pic}
        where
        n.id=#{novelId}
        and n.author_id=#{userId}
    </update>

    <select id="getNovelCountByCategory" resultType="java.lang.Integer">
        select
        count(n.id)
        from
        novel n
        where
        n.category_id=#{categoryId}
        and n.status &lt; 2
    </select>

    <select id="getNovelCount" resultType="java.lang.Integer">
        select
        count(n.id)
        from
        novel n
    </select>

    <select id="getAuthorIdByNovelId" resultType="java.lang.Integer">
        select
        n.author_id
        from
        novel n
        where
        n.novel_id=#{novelId}
    </select>

    <select id="getByNovelId" resultType="com.book.novel.module.novel.entity.NovelEntity">
        select
        <include refid="all"></include>
        from
        novel n
        where
        n.novel_id=#{novelId}
    </select>

    <select id="countUnExamineNovel">
        select
        count(n.id)
        from
        novel n
        where
        n.status=0
    </select>
</mapper>