<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.novel.NovelUserMapper">

    <resultMap id="novelDTO" type="com.book.novel.module.novel.dto.NovelDTO"></resultMap>

    <resultMap id="novelDetailDTO" type="com.book.novel.module.novel.dto.NovelDetailDTO"></resultMap>

    <sql id="all">
        n.id,
        n.category_id,
        n.title,
        n.author_id,
        n.pic,
        n.introduce,
        n.tag,
        n.up,
        n.down,
        n.hits,
        n.rating,
        n.rating_count,
        n.serialize,
        n.favorites,
        n.create_time,
        n.update_time,
        n.status,
        n.hits_day,
        n.hits_week,
        n.hits_month,
        n.word,
        n.recommend
    </sql>

    <sql id="novelDTOAll">
        n.id,
        n.title,
        u.username as author,
        n.pic,
        n.introduce,
        n.tag,
        n.hits,
        n.hits_day,
        n.hits_week,
        n.hits_month,
        floor(n.rating/n.rating_count) as rating,
        n.serialize,
        n.favorites
    </sql>

    <sql id="novelDetailDTOAll">
        n.up,
        n.down,
        n.update_time,
        n.word,
        n.recommend,
        <include refid="novelDTOAll"></include>
    </sql>


    <select id="listNovelByCategory" resultMap="novelDTO">
        select
        <include refid="novelDTOAll"></include>
        from
        novel n
        left join user u on u.id=n.author_id
        where
        n.category_id=#{categoryId}
        and n.status &lt; 2
        order by update_time desc
        limit #{start},#{pageSize}
    </select>

    <select id="getNovelCountByKey" resultType="java.lang.Integer">
        select
        count(n.id)
        from
        novel n
        left join
        user u on u.id=n.author_id
        where
        n.title like concat('%', #{key}, '%')
        and n.status &lt; 2
        or u.username like concat('%', #{key}, '%')
    </select>

    <select id="listNovelByKey" resultMap="novelDTO">
        select
        <include refid="novelDTOAll"></include>
        from
        novel n
        left join
        user u on u.id=n.author_id
        where
        (
        n.title like concat('%', #{key}, '%')
        or u.username like concat('%', #{key}, '%')
        )
        and n.status &lt; 2
        order by update_time desc
        limit #{start},#{pageSize}
    </select>

    <select id="getNovelDetailById" resultMap="novelDetailDTO">
        select
        <include refid="novelDetailDTOAll"></include>
        from
        novel n
        left join
        user u on u.id=n.author_id
        where
        n.id=#{novelId}
        and n.status &lt; 2
    </select>

    <select id="listRank" resultMap="novelDTO">
        select
        <include refid="novelDTOAll"></include>
        from
        novel n
        left join
        user u on u.id=n.author_id
        where n.status &lt; 2
        <choose>
            <when test="key=='rank_hits'">
                order by n.hits desc
            </when>
            <when test="key=='rank_hits_day'">
                order by n.hits_day desc
            </when>
            <when test="key=='rank_hits_week'">
                order by n.hits_week desc
            </when>
            <when test="key=='rank_hits_month'">
                order by n.hits_month desc
            </when>
            <when test="key=='rank_rating'">
                order by n.rating desc
            </when>
            <when test="key=='rank_favorites'">
                order by n.favorites desc
            </when>
            <when test="key=='rank_recommend'">
                order by n.recommend desc
            </when>
        </choose>
        limit #{num}
    </select>

    <select id="listFavoritesNovel" resultMap="novelDTO">
        select
        <include refid="novelDTOAll"></include>
        from
        novel n
        left join user u1 on n.author_id=u1.id
        left join user u1
    </select>
</mapper>