<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.novel.module.novel.NovelMapper">

    <sql id="all">
        n.id,
        n.category_id,
        n.title,
        n.author_id,
        n.pic,
        n.introduce,
        n.tag,
        n.up,
        n.down,
        n.hits,
        n.rating,
        n.rating_count,
        n.serialize,
        n.favorites,
        n.create_time,
        n.update_time,
        n.status,
        n.hits_day,
        n.hits_week,
        n.hits_month,
        n.word,
        n.recommend
    </sql>

    <update id="updateHits">
        update
        novel n
        set
        n.hits=n.hits+1,
        n.hits_day=n.hits_day+1,
        n.hits_week=n.hits_week+1,
        n.hits_month=n.hits_month+1
        where
        n.id=#{novelId}
    </update>

    <select id="getNovelCountByCategory" resultType="java.lang.Integer">
        select
        count(n.id)
        from
        novel n
        where
        n.category_id=#{categoryId}
        and n.status &lt; 2
    </select>

</mapper>